In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r'train_game.csv')

In [3]:
df.head()

,ID,CONSOLE,YEAR,CATEGORY,PUBLISHER,RATING,CRITICS_POINTS,USER_POINTS,SalesInMillions
0,2860,ds,2008,role-playing,Nintendo,E,2.833333,0.303704,1.779257
1,731,wii,2012,simulation,Konami Digital Entertainment,E10+,13.200000,1.640000,0.215050
2,495,pc,2019,shooter,Activision,M,4.562500,0.006410,0.534402
3,2641,ps2,2002,sports,Electronic Arts,E,4.181818,0.326923,1.383964
4,811,ps3,2013,action,Activision,M,2.259259,0.032579,0.082671

In [4]:
df.shape

(3506, 9)

In [5]:
df.dtypes

ID                   int64
CONSOLE             object
YEAR                 int64
CATEGORY            object
PUBLISHER           object
RATING              object
CRITICS_POINTS     float64
USER_POINTS        float64
SalesInMillions    float64
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df['CONSOLE'] = LE.fit_transform(df['CONSOLE'])
df['CATEGORY'] = LE.fit_transform(df['CATEGORY'])
df['PUBLISHER'] = LE.fit_transform(df['PUBLISHER'])
df['RATING'] = LE.fit_transform(df['RATING'])

In [7]:
df.head()

,ID,CONSOLE,YEAR,CATEGORY,PUBLISHER,RATING,CRITICS_POINTS,USER_POINTS,SalesInMillions
0,2860,2,2008,7,121,0,2.833333,0.303704,1.779257
1,731,12,2012,9,95,1,13.200000,1.640000,0.215050
2,495,5,2019,8,7,3,4.562500,0.006410,0.534402
3,2641,7,2002,10,49,0,4.181818,0.326923,1.383964
4,811,8,2013,0,7,3,2.259259,0.032579,0.082671

In [8]:
df.isnull().sum()

ID                 0
CONSOLE            0
YEAR               0
CATEGORY           0
PUBLISHER          0
RATING             0
CRITICS_POINTS     0
USER_POINTS        0
SalesInMillions    0
dtype: int64

In [9]:
df.dtypes

ID                   int64
CONSOLE              int32
YEAR                 int64
CATEGORY             int32
PUBLISHER            int32
RATING               int32
CRITICS_POINTS     float64
USER_POINTS        float64
SalesInMillions    float64
dtype: object

In [10]:
test = pd.read_csv(r'test_game.csv')

In [11]:
test.head()

,ID,CONSOLE,YEAR,CATEGORY,PUBLISHER,RATING,CRITICS_POINTS,USER_POINTS
0,4310,ps2,2008,action,Tecmo Koei,T,3.928571,0.482353
1,4011,psp,2007,strategy,Atari,E10+,5.538462,0.071795
2,2185,ps2,2004,shooter,Electronic Arts,T,3.034483,0.062044
3,1644,x,2006,action,Electronic Arts,E,2.913043,0.880000
4,188,3ds,2011,racing,Ubisoft,E10+,1.162162,0.183333

In [12]:
test.shape

(1503, 8)

In [13]:
test.dtypes

ID                  int64
CONSOLE            object
YEAR                int64
CATEGORY           object
PUBLISHER          object
RATING             object
CRITICS_POINTS    float64
USER_POINTS       float64
dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
test['CONSOLE'] = LE.fit_transform(test['CONSOLE'])
test['CATEGORY'] = LE.fit_transform(test['CATEGORY'])
test['PUBLISHER'] = LE.fit_transform(test['PUBLISHER'])
test['RATING'] = LE.fit_transform(test['RATING'])

In [15]:
test.isnull().sum()

ID                0
CONSOLE           0
YEAR              0
CATEGORY          0
PUBLISHER         0
RATING            0
CRITICS_POINTS    0
USER_POINTS       0
dtype: int64

In [16]:
test.head()

,ID,CONSOLE,YEAR,CATEGORY,PUBLISHER,RATING,CRITICS_POINTS,USER_POINTS
0,4310,7,2008,0,116,4,3.928571,0.482353
1,4011,10,2007,11,8,2,5.538462,0.071795
2,2185,7,2004,8,28,4,3.034483,0.062044
3,1644,14,2006,0,28,1,2.913043,0.880000
4,188,0,2011,6,122,2,1.162162,0.183333

In [17]:
#df['CRITICS_POINTS_sqrt'] = np.sqrt(df.CRITICS_POINTS)
#df['USER_POINTS_sqrt'] = np.sqrt(df.USER_POINTS)
#df['SalesInMillions_sqrt'] = np.sqrt(df.SalesInMillions)

In [18]:
#df[['CRITICS_POINTS_sqrt', 'USER_POINTS_sqrt']].hist(figsize=(10,4))

In [19]:
#df.drop(['CRITICS_POINTS_sqrt', 'USER_POINTS_sqrt','SalesInMillions_sqrt'], axis=1, inplace=True)

In [20]:
#df.dtypes

In [21]:
#df.CRITICS_POINTS.replace({0: 0.001}, inplace=True)
#df.USER_POINTS.replace({0: 0.001}, inplace=True)
#df.SalesInMillions.replace({0: 0.001}, inplace=True)

In [22]:
# Log-transforming JP_Sales and NA_Sales
#df.CRITICS_POINTS = np.log(df.CRITICS_POINTS)
#df.USER_POINTS = np.log(df.USER_POINTS)
#df.SalesInMillions = np.log(df.SalesInMillions)

In [23]:
X = df.drop('SalesInMillions', axis=1)
y = df.SalesInMillions

In [24]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [25]:
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.3)

In [26]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [27]:
y_hat_train = linreg.predict(X_train)
y_hat_val = linreg.predict(X_val)

In [28]:
train_mse = mean_squared_error(y_train, y_hat_train)
val_mse = mean_squared_error(y_val, y_hat_val)

print("Train MSE:", train_mse)
print("Validation MSE:", val_mse)

Train MSE: 7.189532829248379
Validation MSE: 3.3049500910067064

In [29]:
#test.CRITICS_POINTS.replace({0: 0.001}, inplace=True)
#test.USER_POINTS.replace({0: 0.001}, inplace=True)

In [30]:
#test.CRITICS_POINTS = np.log(test.CRITICS_POINTS)
#test.USER_POINTS = np.log(test.USER_POINTS)

In [31]:
pred = linreg.predict(test)

In [32]:
pred

array([1.86236898, 2.52002733, 2.43261513, ..., 2.3926638 , 2.03033605,
       2.41645472])

In [33]:
#final = np.exp(pred)

In [34]:
#final

In [35]:
data = {'SalesInMillions':pred}
new = pd.DataFrame(data)
new_df = new[['SalesInMillions']]
new_df.to_csv('Priti_Shaw_4.csv',index = False)